/*
 *
 * name: Line Length
 * id: line-length
 *
 */

.line-length-enabled .cm-sizer {
    max-width: var(--line-length-source) !important;
    margin: auto;
}

.line-length-enabled .markdown-preview-sizer {
    max-width: var(--line-length-preview) !important;
    margin: auto;
}
